/* print stylesheet */

@media print {
  
    body {
      display: block;
      font-family: serif;
    }
    
    .face {
      backface-visibility: visible;
    }
    
    .back {
      transform: rotateY(0);
    }
    
    .scene {
      width: 100%;
    }
    
    .card p {
     columns: 2;
    }
    
    /* Print Links */
    a[href]::after {
      content: "😁" attr(href);
    }
    
    @page {
       /* reset page margins */
       margin: .25in;
    }
    
  }